* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Poppins;
}

h2{
    font-weight: bolder;
    text-align: left;
    margin-bottom: 20px;
}
.fees-calculator h4{
    font-weight: bolder;
    margin-bottom:25px;
}
/* .page {
    display: flex;
    flex-wrap: wrap;
} */
.uae-image {
    width: 100%;
    position: relative;
    top:0;
    left:0;
    margin-bottom:50px;
}

.uae-image img{
    width: 100%;
    height:auto;
}

.content{
    display: flex;
    flex-direction: column;
    margin:0 30px;
}

.app-info p{
    font-weight:bolder;
    text-align: inherit;
    clear: both;
    font-size:1rem;
    color:#474f62;
}
.apply-procedure p{
    font-weight:normal;
    font-size:1rem;
    text-align: left;
    margin-bottom: 30px;
    color:#7c8392;
}
.apply-procedure h3{
    font-weight: bolder;
    color:#41485c;
    margin-bottom: 20px;
}

.fees-calculator{
    display:flex;
    justify-content:flex-start;
    flex-direction: column;

}


figure img, figcaption{
    float:left;
    margin-bottom:20px;
    color:#7e8493;
    font-size:14px;
    padding-right: 5px;
    font-weight: bold;
}

form{
    display:flex;
    font-size: 13px;
    font-weight: bold;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
}

form  .calbtn{
    flex-direction: row;
}

form select, input{
    height: 30px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #838383;
}
form button{
   height: 60%;
   padding:0 1px;
   font-weight:bold;
   font-size: 1rem;   
}

form input{
    width: 80px;
    font-size:1.5rem;
    text-align: center;
    float:right;
    margin:0 5px;
}

.fee-structure{

    background-color: #f2f4f8;
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    margin-top: 15px;
    color: #4d5466;
}
.fee-structure div{
    display:flex;
    justify-content:space-between;
    padding:25px 20px 15px 20px;
}

.btn{
    margin-top:20px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    box-shadow:2px 2px #164799;
    color: #FFFFFF;
    background-color: #286cec;
    text-align:center;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
    width: 100%;
}

.fees-calculator form{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-between;

}

.country
{
    width:55%;
}
 .visa-type{
    width:35%;
}
.no-days{
    width:50%;
}
.calbtn{
    width:auto;
    margin-top:15px;
    align-items: center;
    
}
  

@media only screen and (min-width: 961px) {
   
    .uae-image img{
        height: 310px;
    }
    .content{
       flex-direction: row;
       margin:0 120px 0 160px;
       
    }
    .main, .fees-calculator{
        width:50%;
      
    }
    .fees-calculator{
        margin-left: 170px;
        flex-direction:column;
    }
    .no-days{
        width:70%;
    }
    
}


@media only screen and (min-width: 601px ) and (max-width: 960px) {
   
    .content{
        flex-direction: column;
        margin:0  50px 0 50px;
    }
    .main, .fees-calculator{
        width:100%;
    }
    form input{
        width:40px;
    }
    .no-days{
        width:70%;
    }
}

